p{
    font-size:1.8em;
    color:rgb(187, 255, 0);
     font-family:"Dancing Script"
}
body{
   background-color:black;
   margin: 0;
}
h1{
    text-align: center;
    font-size:2em;
    color: azure;
}
p{
    text-align: justify;
}
.conteneur0 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 520px;

}
.affichage{
    position: absolute;
    left:0px;
    top: 80px;
    font-size: 2.5em;
    width:100%;
    height: 490px;
    margin-bottom: 10px;
    z-index: -100;
    background: black;
    
    
}
.lo{
    position: absolute;
    left: 50px;
    top: -165px;
    font-size: 1.5em;
    height: 300px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    background-image: url("fast.jpg");
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 0.1em;
    color: transparent;
    padding:100px;
    margin: top 400px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    opacity: 1;
}
.li{
    position: absolute;
    left: 100px;
    top: -85px;
    font-size: 1.8em;
    height: 400px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    background-image: url("fast.jpg");
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 0.1em;
    color: transparent;
    padding:100px;
    margin: top 400px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    opacity: 1;
}
.boxx:hover{
    cursor: pointer;
    color: red;
    text-decoration: underline;

}

.boxx{
    font-size: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
}

.conteneur1{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.élément{
    border:3px solid;
    background-color: gray;
    color: black;
    font-size:1em;
    font-weight:1em ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.élément{
    height:600px;
    width:1506px;
    margin-bottom:60px;
}



h1:hover{
    background-color: white;
}

p2{
    font-size: 1.5em;
    border: 3px dashed rgba(1, 1, 1, 0.156);
    padding:25px;
    margin:10px;

}
header{
    font-size: 3em;
    color:rgb(170, 255, 0);
}
img{
    width: 25px;
}
.a{
    color: white;
}
a{
    color: white;
}
a:hover{
    color: red;
}
.bloc{
    position: relative;
    left:0;
    top:0;
    width:100%;
    height:340px;
    background-color: green;
    border-radius: 10px 10px 0px 0px;
}
.séance{
    position: relative;
    left: 0;
    font-size: 3em;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    justify-content:center;
    background-color: blue;
}
.bloc video{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 343px;
    border-radius: 10px 10px 0px 0px;


}
.page_première{
    position: relative;
    justify-content: right;
    width: 100%;
    height: 100%;
    
}
.conteneur2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left:100px;
    margin-right:100px;
}
.box{
    background-color: red;
    height: 400px;
    width: 350px;
    border-radius: 10px ;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}


.box:hover{
    background-color: blue;
    width: 350px;
    height: 420px;
    position: relative;
    left: 5px;
    top: 10px;
}