body{
   background-color:black;
}
h1{
    text-align: center;
    font-size:2em;
    color: azure;
}
p{
    text-align: justify;
}
.conteneur0{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 500px;
}
.boxx:hover{
    cursor: pointer;
    color: red;
    text-decoration: underline;

}

.boxx{
    font-size: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
}

.conteneur1{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.élément{
    border:3px solid;
    background-color: gray;
    color: white;
    font-size:1em;
    font-weight:1em ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.élément{
    height:600px;
    width:1506px;
    margin-bottom:60px;
}
h1:hover{
    background-color: white;
}

p2{
    font-size: 1.5em;
    border: 3px dashed rgba(1, 1, 1, 0.156);
    padding:25px;
    margin:10px;

}
header{
    font-size: 3em;
    color:rgb(170, 255, 0);
}
img{
    width: 25px;
}
.a{
    color: white;
}
a{
    color: white;
}
a:hover{
    color: red;
}